name: Lint
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Node
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
      - name: Install dependencies
        run: bun install
      - name: Lint
        run: bun run lint
